<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <default>
                <cms_home_page>new-home-page</cms_home_page>
            </default>
        </web>
    </default>
</config>
